header {
	background-color: #F8F8FF;
    padding: 25px;
      text-align: center;
        }

body {
    margin: 0;
    padding: 0;
text-align: center;
  }

h1 {
font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
font-size: 35px;
}

section {
padding: 20px;
   align-items: center;
    text-align: center;
}

footer {
    background-color:#F5F5F5;
    padding: 10px 0px 10px 0px;
     position: absolute;
 bottom: 0;
 width: 100%;
   font-size:16px;
  font-style: italic;
}

button {
   font-size: 18px;
    padding: 6px;
    border-radius:5px;
    margin: 0px;
 }
