
.contenant{
    overflow: auto;
    height: 83%;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.interieur{
    width: 25%;
    height: 100px;
    font-size: 15px;
    float: left;
}

img{
    float: left;
}

.catalogue_item{
    height: 100px;
    float: left;
}

#recherche{
    margin-top: 10px;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F8F8FF;
    text-align: center;
    height: 10%;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    background: white;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100%;
}


h1 {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 35px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
}

section {
    align-items: center;
    text-align: center;
    height: 75%;
    padding: 0;
    margin: 0;
}

footer {
    background-color:#F5F5F5;
    padding: 10px 0px 10px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size:16px;
    font-style: italic;
    height: 15%;
    margin: 0;
}

button {
    font-size: 18px;
    border-radius:5px;
    padding : 5px;
}

