<!DOCTYPE HTML>
<html lang="fr-ca">
<head>
    <meta charset="UTF-8">
    <title>
        Connection
    </title>
    <link rel="stylesheet" type="text/css" href="/static/Connection.css">
</head>
<body>
<header>
    <button id="bouton_accueil"><a href="/templates/Accueil.html">Accueil</a></button>
    <button id="bouton_panier" onclick="estConnecte()">Panier</button>
    <button id="bouton_inscription"><a href="/templates/Inscription.html">Inscription</a></button>
    <button id="bouton_connexion"><a href="/templates/Connection.html">Connexion</a></button>
</header>
<section>
    <h1>Connection</h1>
    <form action="/Python/scriptsFlask.py">
        <label for="username">Nom d'utilisateur:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Mot de passe:</label><br>
        <input type="text" id="password" name="password"><br>
        <input type="submit" value="Se connecter">
    </form>

    <button onclick="connectionSucces()">Test connexion succes</button> <!--Enlever ce bouton une fois le flask et MySQL done-->

</section>
<footer>
    <p id="footer_contact">
        <span>Nous contacter :</span><br/>
        1 800 407 3102<br/>
        larevel@gmail.com
    </p>
    <p id="copyright">
        &#169; 2021, Larevel.com, Inc. or its affiliates
    </p>
</footer>
</body>
<script src="/static/scripts.js"></script>
</html>