<!DOCTYPE HTML>
<html lang="fr-ca">
<head>
    <meta charset="UTF-8">
    <title>
        Profil Gerant
    </title>
    <link rel="stylesheet" type="text/css" href="../static/Base.css">
    <link rel="stylesheet" type="text/css" href="../static/ProfilGerant.css">
    <script src="../static/scripts.js"></script>
</head>
<body>
<header>
    <button id="bouton_inventaire"><a href="Inventaire">Inventaire</a></button>
    <button id="bouton_profil"><a href="ProfilGerant">Profil</a></button>
</header>
<section>
<h1>
    Voici votre profil:
</h1>
<h2>
    <br>
    Nom : {{gerant.nom}}
</h2>
<button id="bouton_deconnexion"><a href="Deconnexion">Se déconnecter</a></button>
</section>
<footer>
    <p id="footer_contact">
        <span>Nous contacter :</span><br/>
        1 800 407 3102<br/>
        larevel@gmail.com
    </p>
    <p id="copyright">
        &#169; 2021, Larevel.com, Inc. or its affiliates
    </p>
</footer>
</body>

</html>